$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$theme-white: rgba(255, 255, 255, 0.7);
$theme-green: rgba(135, 185, 161, 0.7);
$theme-blue: #73b4ef;
$theme-purple: #9f8bea;
$theme-pink: rgba(248, 50, 149, 0.7);
$theme-red: #fc4646b4;
$theme-yellow: #ffcb63;

$tabbar-bottom: 100rpx;

$shadow:.5em .5rem 2em 0 rgba(42, 44, 58, .15), 11.737rem 22.074rem 32rem 0 rgba(129, 165, 238, .1);
$border-radius:1em;
